* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
}
p,span,ul,li{
  font-family: 'Saira', sans-serif;
}
.App {
  /* overflow: hidden; */
}
