@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.header-section{
    /* font-family: 'Concert One', cursive; */
    width: 100vw;
    height: 667px;
    margin: auto;
    padding: 20px;
    /* color: white; */
    display: flex;
}
.header-content{
    padding: 20px;
    padding-right: 50px;
    color: white;
    margin: 50px auto;
    flex: 2;
}
.header-heading{
    padding: 10px;
    padding-right: 0px;
    font-size: 4em;
}
.button{
    margin-left: 10px;
}
.header-text{
    padding: 10px;
    font-size: 1.55em;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 40px;
    font-weight: lighter;
}
.header-image{
    flex: 1;
    position: relative;
}
.student-image{
    width: 770px;
    height: 660px;
    position: absolute;
    left: -237px;
    top: -59px;
}
.button-title{
    margin-left: 20px;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.material-icons{
    font-size: 40px;
    margin: auto 10px;
    transform: translateY(14px);
}

@media (max-width : 900px){
    .header-section{
        height: 950px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-content{
        margin: 10px auto;
    }
    .header-heading{
        font-size: 3em;
    }
    .header-text{
        font-size: 1.2em;
        margin-bottom: 40px;
        padding-right: 20px;
    }
    .student-image{
        width: 350px;
        height: 300px;
        position: relative;
        left: -20px;
        top: 0px;
    }

}