.experience-section{
    background-color: white;
    height: 640px;
    width: 85vw;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
}
.experience-section-header{
    /* border: 1px solid black; */
    text-align: center;
}
.experience-header-heading{
    /* border: 1px solid black; */
    font-size: 2.5em;
    font-weight: 700;
}
.experience-header-text{
    /* border: 1px solid black; */
    font-size: 1.3em;
    color: #63615a;
    font-weight: 500;
}
.experience-section-content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    /* border: 1px solid black; */
}
.section-card{
    /* border: 1px solid black; */
    width: 300px;
    height: 200px;
    padding: 20px;
}
.section-card-content{
    font-size: 20px;
    font-weight: bold;
}
.section-card-image{
    height: 70px;
    width: 50px;
}
.experience-section-button{
    margin: auto;
    width: fit-content;
    transform: translateY(-15px);
}

@media (max-width:900px){
    .experience-section{
        height: 1600px;
    }
    .experience-section-content{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }
}