.card-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
}
section {
  padding: 30px;
}
.other__heading {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 700;
}
.dev__boxx {
  /* display: flex; */
  /* height: 368px;
    width: 293px; */
  height: 450px;
  width: 400px;
  text-align: center;
  /* border: 2px solid black; */
  margin-bottom: 50px;
}
.other__ul {
  list-style-type: none;
}
.other__ul li {
  margin-top: 30px;
  font-size: 20px;
}
.other__span {
  background: #cee5ff;
  padding: 10px;
  border-radius: 5px;
}
