.devCard {
  width: 293px;
  height: 368px;
  background-color: #ebeced;

  margin-top: 40px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  cursor: pointer;
}
.devCard:hover {
  box-shadow: 1px 5px 5px 5px rgba(228, 15, 15, 0.918);
}
.dev__title {
  font-weight: 600;
}
.dev__img img {
  width: 96px;
  height: 96px;
  border-radius: 10px;
  object-fit: contain;
}
.dev__ul {
  list-style: none;
}
.dev__ul li {
  margin-top: 2px;
  font-size: 13px;
}
.dev__ul li::before {
  content: "\00BB";
}
