nav {
  padding: 0px 50px 0px 50px;
  display: flex;
  background: #016eea;
  align-items: center;
  z-index: 10;
  color: white;
  width: 100%;
  position: fixed;
  color: #18181b;
}
.title h1 {
  color: transparent;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  background-clip: text;
}

.alert-warning {
  background-color: #0096c7;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.banner__left {
  width: 50%;
}
.banner__right {
  width: 0%;
}
.banner {
  font-weight: bold;
  background-color: #48cae4;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 30px;
}
.register {
  cursor: pointer;
  width: 180px;
  background-color: #023e8a;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
}
svg {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 50px;
  border: none;
  background: #eee;
  padding: 10px;
  border-radius: 0;
}
.menu-icon {
  display: none;
  font-size: 20px;
}
.Dropdown-arrow,
.is-open {
  right: -2px;
  border-color: blue;
  border-color: blue transparent transparent;
}
.logo {
  height: 60px;
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 100%;
  width: 40%;
  object-fit: contain;
}
.menu-list {
  list-style-type: none;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list li a,
select {
  color: white;
  text-transform: capitalize;
  position: relative;
  border: none;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 20px;
}

.menu-list li,
.menu-list a {
  color: white;
}

.menu-list li a::after,
.Dropdown-control::after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  left: 10px;
  right: 0;
}
.menu-list li a:hover::after,
.Dropdown-control:hover::after {
  opacity: 1;
  transform: scaleX(0.8);
}

.register {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}
.banner__btn svg {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.register:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.register span {
  color: white;
}

.register:hover:after {
  opacity: 1;
  right: 10px;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
}
.btn__hire {
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  border: 1px solid #29bb89;
  color: #fff;
  font-weight: bold;
  background-color: #29bb89;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.btn__applyDev {
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #b000e5;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.li_btn {
  display: none;
}
@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .btns {
    display: none;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu-list li a:hover::after,
  .Dropdown-control:hover::after {
    opacity: 1;
    transform: scaleX(0.8);
    background-color: #023e8a;
  }
  .li_btn {
    display: block;
  }
  .btn__hire {
    padding: 5px;
    color: white;
  }
  nav {
    padding: 10px 50px 10px 50px;
  }
  .menu-icon {
    display: block;
  }
  .menu-list li a {
    color: black;
  }
  .menu-list {
    background-color: white;
    flex-direction: column;
    width: 100%;
    margin: auto;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 75px;
    display: flex;
    justify-content: flex-start;
    height: 92vh;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 60px;
    color: black;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
    color: white;
  }
  .menu-list li:nth-child(4){
    color: white;
  }
  .menu-list li a,
  .menu-list li:last-child a {
    display: block;
    font-size: 22px;
    margin: auto;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
  .menu-list li a::after {
    left: 120px;
    right: 100px;
  }
  .alert-warning {
    font-size: 15px;
  }
  svg {
    background-color: transparent;
    color: white;
  }
  .register {
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .alert-warning {
    flex-direction: column;
  }
  .banner__left,
  .banner__right {
    width: 100%;
  }
}
