.tech__card{
    height: 150px;
    margin-top: 30px;
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #023E8A;
}
.tech__card:hover{
    background-color: #0077B6;
}
.tech__card__logo{
width: 60px;
margin-left: 25px;
}
.tech__card__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tech__card__name{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}