.technology{
  margin: 50px 10% 50px 10%;
}
.MuiTab-wrapper{
    color: black;
    font-size: 20px;
}
.MuiTab-wrapper svg{
    border-radius: 100%;
}
.MuiTabScrollButton-root svg{
    font-size: 3.25rem;
}
.MuiTabs-flexContainer{
    justify-content: space-between;
}
TabPanel{
    margin-top: 20px;
}
.MuiAppBar-colorDefault{
    margin-bottom: 30px;
}
.technos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}