.services {
  margin: 10px 4% 10px 4%;
  display: flex;
  width: 92%;
  flex-direction: column;
  align-items: center;
}
.services h1 {
  margin-bottom: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 50px;
}
.services span {
  margin: 30px auto;
  text-align: center;
}
.service__cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .service__cards {
    flex-direction: column;
  }
}
