.testimonial {
  /* padding: 10px; */
  /* margin: 50px 4% 50px 4%; */
  /* width: 92%; */
  display: flex;
  justify-content: center;
  background-color: #016EEA;
  align-items: center;
  flex-direction: column;
}
.carousel {
  display: flex;
}
